extends layout.pug

block content
  section#about
    h2 About Us
    p A To-Do List project is a classic and popular choice for learning and practicing web development. In the todolist we can note down our daily routens and imoortant works. 
   
//index.html

