extends layout.pug

block content
  section#contact
    h2 Contact Us
    p Have questions or feedback? Reach out to us at:
    a(href="mailto:contact@coustemersupport.com") contact@coustemersupport.com
    p Or give us a call at: +91(04052008009)
