doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title To-Do List
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') To-Do List
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li 
              a(href='/about') About
            li
              a(href='/login/') Login
            li
              a(href='/signup/') Signup
            li 
              a(href='/contact') Contact


    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script.
      $(document).ready(function () {
        // Function to add a new task
        function addTask() {
          const taskText = $('#taskInput').val().trim();
          if (taskText === '') return; // Don't add empty tasks

          const listItem = $('<li>').addClass('list-group-item d-flex justify-content-between align-items-center');
          const taskLabel = $('<label>').text(taskText);
          const deleteButton = $('<button>').addClass('btn btn-danger btn-sm').text('Delete');
          const completeButton = $('<button>').addClass('btn btn-success btn-sm ml-2').text('Complete');

          // Add event listener to delete the task
          deleteButton.click(function () {
            listItem.remove();
          });

          // Add event listener to mark the task as complete
          completeButton.click(function () {
            taskLabel.addClass('task-complete');
            completeButton.remove();
          });

          listItem.append(taskLabel, completeButton, deleteButton);
          $('#taskList').append(listItem);
          $('#taskInput').val(''); // Clear the input field
        }

        // Event listener for adding a task when the button is clicked
        $('#addTaskBtn').click(addTask);

        // Event listener for adding a task when Enter key is pressed
        $('#taskInput').keypress(function (event) {
          if (event.which === 13) {
            addTask();
          }
        });
      });
